# File extensions
*.pdf
*.png
*.pt
*.hdf5
*.ipynb

# Compiled files
*.pyc
*.DS_Store

# Cached directories
__pycache__/

#trained model directory
training_results/

# Jupyter Notebook
.ipynb_checkpoints