/* Wrap general text */
body {
    word-wrap: break-word !important;
    white-space: normal !important;
}

/* Force code blocks to wrap long lines */
.highlight pre {
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
    overflow-x: auto !important;
}

/* Make return field names bold */
.field-list dt.field-name {
    font-weight: bold;
}